.products{
    display: flex;
    justify-content: center;
    text-align: center;
    column-gap: 40px;
}
.item button{
    margin-bottom:25px;
}
.first__item button{
    margin-bottom:25px;
}
.second__item button{
    margin-bottom:25px;
}
.third__item button{
    margin-bottom:25px;
}
.item{
    width: 255px;
    height: 388px;
    background: #FFFFFF;
}
.first__item{
     width: 255px;
    height: 388px;
    background: #FFFFFF;
 }
.second__item{
    width: 255px;
    height: 388px;
    background: #FFFFFF;
}
.third__item{
    width: 255px;
    height: 388px;
    background: #FFFFFF;
}
.box__products h2{
    padding-top: 80px;
    padding-bottom: 38px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
}
.products img{
    padding-top: 25px;
    display:inline-block;
}
.products p{
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    text-align: center;
}
.products h3{
    padding-top: 20px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 25px;
    text-align: center;
    letter-spacing: 0.05em;
}
.products button{
    margin-top: 25px;
    width: 130px;
    height: 35px;
    background: #F13C6E;
    border-radius: 30px;
    border: none;
    color: #ffffff;
}